<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Block Trade</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./assets/styles/style.css">


</head>

<body>
    <div id="headWrap" class="index-header">
        <div>
            <img src="assets/images/btlogo3.png">
            <h1 id="title">
                Portfolio
            </h1>
            {{!-- TODO: Create logout --}}
        </div>
    </div>
    <div id="profileContainers">
        <div id="accountContainer">
            <div class="titleTab">
                <h1>Account: {{user}}</h1>
            </div>
            <div class="balances">
                <h1 id="cash">Current Cash Balance:
                    <span id="amount">$<span id="jqueryUSD"></span></span>
                </h1>
                <h1 id="net">Portfolio Networth:
                    <span id="amount">$<span id="jqueryNet"></span>
                </h1>
            </div>
            <div class="titleTab">
                <h1>Investments</h1>
            </div>
            <div id="investmentContainer">
                <div class="bitInvestment" id="coinInvestment">
                    <img class="bitImage" src="assets/images/bitcoin.png">
                    <h1 class="bitcoin"><span id="personBTC">0</span> BTC / $<span id="BTCVal">0</span></h1>
                </div>
                <div class="liteInvestment" id="coinInvestment">
                    <img class="bitImage" src="assets/images/litecoin.png">
                    <h1 class="litecoin"><span id="personLTC">0</span> LTC / $<span id="LTCVal">0</span></h1>
                </div>
                <div class="ethereumInvestment" id="coinInvestment">
                    <img class="bitImage" src="assets/images/ethereum.png">
                    <h1 class="ethereum"><span id="personEther">0</span> ETH / $<span id="ETHVal">0</span></h1>
                </div>
                <div class="rippleInvestment" id="coinInvestment">
                    <img class="bitImage" src="assets/images/ripple.png">
                    <h1 class="ripple"><span id="personRipple">0</span> XRP / $<span id="XRPVal">0</span></h1>
                </div>
            </div>
        </div>

        <div id="graphContainer">
            <div class="titleTab" id="graphButtonContainer">
                <button class="graphButton  bitcoin" value="BTC" id="graphBTC">Bitcoin</button>
                <button class="graphButton  litecoin" value="LTC" id="graphLTC">Litecoin</button>
                <button class="graphButton  ethereum" value="ETH" id="graphETH">Ethereum</button>
                <button class="graphButton  ripple" value="XRP" id="graphXRP">Ripple</button>
            </div>
            <div id="container" class="svg-container">

            </div>
        </div>

        <div id="tradeContainer">
            <div class="titleTab">
                <h1 class>Trades</h1>
            </div>
            <div id="coin" class="bitCoin">
                <div class="priceImage">
                    <img class="bitImage" src="assets/images/bitcoin.png">
                    <h1 class="price">$<span id="jqueryBTC"></span></h1>
                </div>
                <div class="inputFields">
                    <input id="amount-btc" class="buy" placeholder="Buy Amount (Dollars)">
                    <button class="buyButton" id="buybtc">Buy</button>
                    <input id="amount-btc2" class="sell" placeholder="Sell Amount (Coins)">
                    <button class="sellButton" id="sellbtc">Sell</button>
                </div>
            </div>
            <div id="coin" class="liteCoin">
                <div class="priceImage">
                    <img class="bitImage" src="assets/images/litecoin.png">
                    <h1 class="price">$<span id="jqueryLTC"></span></h1>
                </div>
                <div class="inputFields">
                    <input id="amount-ltc" class="buy" placeholder="Buy Amount (Dollars)">
                    <button class="buyButton" id="buyLTC">Buy</button>
                    <input id="amount-ltc2" class="sell" placeholder="Sell Amount (Coins)">
                    <button class="sellButton" id="sellLTC">Sell</button>
                </div>
            </div>
            <div id="coin" class="ethereumCoin">
                <div class="priceImage">
                    <img class="bitImage" src="assets/images/ethereum.png">
                    <h1 class="price">$<span id="jqueryEther"></span></h1>
                </div>
                <div class="inputFields">
                    <input id="amount-eth" class="buy" placeholder="Buy Amount (Dollars)">
                    <button class="buyButton" id="buyEther">Buy</button>
                    <input id="amount-eth2" class="sell" placeholder="Sell Amount (Coins)">
                    <button class="sellButton" id="sellEther">Sell</button>
                </div>
            </div>
            <div id="coin" class="rippleCoin">
                <div class="priceImage">
                    <img class="bitImage" src="assets/images/ripple.png">
                    <h1 class="price">$<span id="jqueryXRP"></span></h1>
                </div>
                <div class="inputFields">
                    <input id="amount-xrp" class="buy" placeholder="Buy Amount (Dollars)">
                    <button class="buyButton" id="buyXRP">Buy</button>
                    <input id="amount-xrp2" class="sell" placeholder="Sell Amount (Coins)">
                    <button class="sellButton" id="sellXRP">Sell</button>
                </div>
            </div>
        </div>
    </div>
    <div id="tradeHistory">
        <div class="titleTab">
            <h1>Trade History</h1>
        </div>
        <table class="history-table">
            <thead>
                <tr>
                    <th>Transaction</th>
                    <th>Crypto Currency</th>
                    <th>Coin Price</th>
                    <th>Coin Amount</th>
                    <th>USD Amount</th>
                    <th>Trade Type</th>
                </tr>
            </thead>
            <tbody class="body">
            </tbody>
        </table>
    </div>
    <div id="div1"></div>
    <div id="div2"></div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="./assets/D3/d3-btc.js"></script>
    <script src="./assets/js/app.js"></script>
    <script src="./assets/js/api.js"></script>
    <script src="./assets/js/graph.js"></script>
</body>

</html>