<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

   
    <link rel="stylesheet" href="assets/css/style.css">
    
</head>

<body>

    <div id="headWrap" class="titleTab">
        <div>
            <img src="assets/images/btlogo3.png">
            <h1 id="title">
                Block Trade
            </h1>
        </div>
    </div>
    <div id="text-body">
        <div id="loginRegister">
            <h1>
                Register or Login
            </h1>
            <form id="login" name="login" method="post" action="/login">
                <label for="email" name="uname">Email Address</label>
                <input class="text" name="email" type="email" placeholder="Enter Email" />
                <label for="password">Password</label>
                <input name="password" type="password" placeholder="Enter Password" />
                <input class="btn" type="submit" value="Sign Up" />
                <input class="btn" type="submit" value="Sign In" />
            </form>
        </div>
    </div>
</body>

</html>