<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Block Trade</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="./assets/styles/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</head>

<body>
    <div id="headWrap">
        <div>
            <img src="assets/images/btlogo3.png">
            <h1 id="title">
                Block Trade
            </h1>
        </div>
    </div>
    <div id="main">
        <div id="splashDiv">
            <div id="splashWrap"></div>
        </div>
            <button id="Login" >
                <a href="/login"> Login </a>
            </button>
            <button id="Signup" >
                <a href="/signup"> Signup </a>
            </button>
    </div>
    <div id="text-body">
        <div id=description>
            <h1>
                Welcome to Block Trade
            </h1>
            <br>
            <h3> Interested in the cryptocurrency market? Better be careful... it's awfully volatile. </h3>
            <p>
               Try learning cryptocurrency trading with Block Trade. It's a fun and interactive way to learn how to trade without the risk of losing that trust fund. Click get started to buy/sell the top cryptocurrencies that are updated based on their real-time numbers.
            </p>
        </div>
    </div>
</body>

</html>