.graphContainer {
  display: inline-block;
  background: #393e46;
  width: 40%;
  height: 100%;
  margin: auto;
  margin-top: 25px;
  border: 5px;
  border-style: solid;
  border-color: #4ecca3;
}

.svg-container {
  background: #393e46;  
}


.row {
  display: flex;
  justify-content: center;
}

h1 {
  padding: 0;
  margin: 0;
  font-weight: 700;
  color: #757575;
}

#coindesk {
  font-weight: 300;
}

#coindesk a {
  text-decoration: none;
  color: inherit;
}

.popup {
  min-height: 50px;
}
